### Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [16]:
import pandas as pd

In [17]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

ratings_2 = ratings.groupby('userId').count()
ratings_2['delta_timestamp'] = ratings.groupby('userId').timestamp.max() - ratings.groupby('userId').timestamp.min()

(f"{pd.Timedelta(str(int(ratings_2[ratings_2.movieId > 100].delta_timestamp.mean()))+'seconds')} ")

'463 days 21:28:27 '

### Задание 2

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы: таблицу с тремя типами выручки для каждого client_id без указания адреса клиента аналогичную таблицу по типам выручки с указанием адреса клиента. 
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [18]:
rzd = pd.DataFrame( {'client_id': [111, 112, 113, 114, 115], 'rzd_revenue': [1093, 2810, 10283, 5774, 981] })

auto = pd.DataFrame( {'client_id': [113, 114, 115, 116, 117], 'auto_revenue': [57483, 83, 912, 4834, 98] })

air = pd.DataFrame( {'client_id': [115, 116, 117, 118], 'air_revenue': [81, 4, 13, 173] })

client_base = pd.DataFrame( {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 'Строителей 18', 'Панфиловская 33', 'Мастеркова 4'] })

In [19]:
new_table_1 = rzd.merge(auto, how='outer').merge(air, how='outer')
new_table_1.fillna(0, inplace=True)
new_table_1.head(10)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           0.0          0.0
1        112       2810.0           0.0          0.0
2        113      10283.0       57483.0          0.0
3        114       5774.0          83.0          0.0
4        115        981.0         912.0         81.0
5        116          0.0        4834.0          4.0
6        117          0.0          98.0         13.0
7        118          0.0           0.0        173.0

In [20]:
new_table_2 = new_table_1.merge(client_base, how='outer')
new_table_2.head(10)

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           0.0          0.0  Комсомольская 4
1        112       2810.0           0.0          0.0   Энтузиастов 8а
2        113      10283.0       57483.0          0.0  Левобережная 1а
3        114       5774.0          83.0          0.0          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          0.0        4834.0          4.0    Строителей 18
6        117          0.0          98.0         13.0  Панфиловская 33
7        118          0.0           0.0        173.0     Мастеркова 4

### Задание 3

В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. Как бы вы добавили эти сведения в таблицу визитов и покупок? Для составления ответа можно использовать вопросы: У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить? Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. Как это отразится на вопросе расчетах пункта 1? Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.

In [ ]:
""" 
    Если есть список с координатами городов или регионов, то можно получить для каждого пользователя название, 
например города, сопоставив вхождение его координат с координатами города.
    Сравнить время покупки пользователя и время получения координат (в условии допустить, например, отклонение время 
покупки от времени получения координат ±30 минут) и добавить к визитам и покупкам название города (из предыдущего шага).
    В качестве дополнительных сведений можно получить, как часто пользователь перемещается по городам и составить 
для каждого пользователя список посещенных городов.
"""