**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [5]:
import pandas as pd

ratings = pd.read_csv('C:/Users/User/Desktop/Python/Лекция 10. Основы Pandas/10._Основы_pandas/ml-25m/ml-25m/ratings.csv')
movies = pd.read_csv('C:/Users/User/Desktop/Python/Лекция 10. Основы Pandas/10._Основы_pandas/ml-25m/ml-25m/movies.csv')

In [6]:
ratings[ ratings.rating == 5.0 ]['movieId'].value_counts().head(3) #отфильтровывает "movieId" только с рейтингом 5.0 и выводит первые 3 с наибольшим количеством оценок 5.0

318    39553
296    32169
356    25918
Name: movieId, dtype: int64

In [7]:
movies[movies['movieId'] == 318] #ищем название фильма с ID "318"

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [8]:
data = pd.read_csv('power.csv')
filtered_countries = data[ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia') ]
filtered_category = filtered_countries[ (filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21) ]
filtered_year = filtered_category[ (filtered_category['year']>=2005) & (filtered_category['year']<=2005) ]

In [9]:
filtered_year[ filtered_year.quantity > 0 ]['quantity'].sum()

37164.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [10]:
pd.read_html('https://novosibirsk.bankiros.ru/currency')[1]

                                Банк                            1 USD  \
                                Банк                          Покупка
0                           Сбербанк                            61.37
1                                NaN                              NaN
2             микрорайон Горский, 66                            61.37
3                ул. Гребенщикова, 8                            61.37
4               ул. Кошурникова, 8/1                            61.37
..                               ...                              ...
163  Показать все отделения на карте  Показать все отделения на карте
164                 ТрансКапиталБанк                            62.45
165                              NaN                              NaN
166      ул. Коммунистическая, д. 35                            62.45
167  Показать все отделения на карте  Показать все отделения на карте

                                                                1 EUR  \
                             Продажа                          Покупка
0                              64.47                            67.58
1                                NaN                              NaN
2                              64.47                            67.58
3                              64.47                            67.58
4                              64.47                            67.58
..                               ...                              ...
163  Показать все отделения на карте  Показать все отделения на карте
164                            63.55                             68.9
165                              NaN                              NaN
166                            63.55                             68.9
167  Показать все отделения на карте  Показать все отделения на карте

                                                     Время обновления
                             Продажа                 Время обновления
0                              71.04                 28.01.2020 13:40
1                                NaN                              NaN
2                              71.04                 28.01.2020 13:40
3                              71.04                 28.01.2020 13:40
4                              71.04                 28.01.2020 13:40
..                               ...                              ...
163  Показать все отделения на карте  Показать все отделения на карте
164                            69.95                 28.01.2020 13:40
165                              NaN                              NaN
166                            69.95                 28.01.2020 13:40
167  Показать все отделения на карте  Показать все отделения на карте

[168 rows x 6 columns]

In [11]:
pd.read_html('https://novosibirsk.bankiros.ru/currency')[0]

,0,1,2,3,4,5
0,NaN,Лучшие курсы в банках Новосибирска,Лучшие курсы в банках Новосибирска,Курсы ЦБ РФ,Курсы ЦБ РФ,NaN
1,NaN,Покупка,Продажа,28.01.2020,29.01.2020,Конвертер валют
2,usd,62.91 БАНК «НЕЙВА»,63.04 БКС Банк,62.3380рублей за 1 доллар США,62.8299 +0.49 рублей за 1 доллар США,NaN
3,eur,69.31 БАНК «НЕЙВА»,69.44 БКС Банк,68.7775рублей за 1 евро,69.2260 +0.45 рублей за 1 евро,NaN
4,gbp,81.35 Альфа-Банк,82.65 Альфа-Банк,81.5194рублей за 1 фунт стерлингов,81.7605 +0.24 рублей за 1 фунт стерлингов,NaN
5,byn,26.4 Сбербанк,32.7 Сбербанк,29.4228рублей за 1 белорусский рубль,29.5004 +0.08 рублей за 1 белорусский рубль,NaN
6,kzt100,11.14 Сбербанк,21.89 Сбербанк,16.3821рублей за 100 казахстанских тенге,16.4940 +0.11 рублей за 100 казахстанских тенге,NaN
7,cny,8.92 Восточный Банк,9.2 Пойдем!,8.9867рублей за 1 китайский юань,9.0576 +0.07 рублей за 1 китайский юань,NaN
8,chf,64.56 Альфа-Банк,65.56 Альфа-Банк,64.1734рублей за 1 швейцарский франк,64.7731 +0.6 рублей за 1 швейцарский франк,NaN
9,jpy100,56.1 Банк ВТБ,58.55 Почта Банк,57.1253рублей за 100 японских йен,57.6553 +0.53 рублей за 100 японских йен,NaN